/*
    1. Posicionamiento
    2. Módelo Caja (box model)
    3. Tipografía
    4. Visuales
    5. Otros
*/
:root{
    /* Colores */
   --black: #41444b;
   --gray: #52575d;
   --yellow: #FFFD37;
   --Goldenrod: #DAA520 ;
   --white: #faf8f7;
   --offwhite: #f6f4e6;
   --black: #282623;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'RocknRoll One', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 200px;
    border-bottom: 25px solid var(--offwhite);
    text-align: center;
    background: linear-gradient(207.8deg,var(--Goldenrod) 40.69%, var(--yellow) 100%);
}
header .clutch{
    position: absolute;
    top: 30px;
    left: calc(50% + 35px);
    width: 130px;
}
header .volante{
    position: absolute;
    top: 30px;
    left: calc(50% - 170px);
    width: 130px;
}
header .donRafaLogo{
    position: absolute;
    top: 10px;
    left: calc(50% - 80px);
    width: 150px;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 20px;
    padding-top: 80px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    text-shadow: 2px 0 0 #fff,
                 -2px 0 0 #fff, 
                 0 2px 0 #fff, 
                 0 -2px 0 #fff, 
                 1px 1px #fff, 
                 -1px -1px 0 #fff, 
                 1px -1px 0 #fff, 
                 -1px 1px 0 #fff;
}
.header--title-container .title-name{
    text-shadow: 2px 0 0 #fff,
                 -2px 0 0 #fff, 
                 0 2px 0 #fff, 
                 0 -2px 0 #fff, 
                 1px 1px #fff, 
                 -1px -1px 0 #fff, 
                 1px -1px 0 #fff, 
                 -1px 1px 0 #fff,
                 2px 2px 0 black,
                 3px 3px 0 black,
                 4px 4px 0 black,
                 5px 5px 0 black,
                 6px 6px 0 black;
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--gray);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 115px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--white);
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--title-container span{
    position: absolute;
    left: calc(50% + 55px);
    top: -30px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 35px;
    height: 35px;
    background-image: url('../assets/icon/old-telephone.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    height: auto;
    background-color: var(--offwhite);
} 

.main-services-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 5px 10px;
}
.service-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.service-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;   
    line-height: 2.6rem;
    color: var(--black) 
}
.service-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;   
    line-height: 1.8rem;
    color: var(--gray);
}
.service-detail--card{
    width: 90%;
    min-width: 282px;
    max-width: 400px;
    min-height: 50px;
    margin: 15px auto;
    padding: 15px;
    background-color: #EED202;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.service--card-title{
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.service--card-body{
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--gray);
 }

 footer{
    display: flex;
    width: 100%;
    height: 80px;
    background: linear-gradient(207.8deg,var(--Goldenrod) 40.69%, var(--yellow) 100%);
}
footer .general{
    margin-top: 15px;
    margin-left: 15px;
       
}
.general p{
    
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4rem;
}
.general a{
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}